.flex {
  display: flex;
  gap: 9px;
  align-items: center;
  margin: 15px;
}

@media (max-width: 570px) {
  .flex {
    flex-direction: column;
  }
}

@media (max-width: 1120px) {
  .flex {
    flex-direction: column;
    margin: 15px;
  }
}

@media (max-width: 720px) {
  .flex {
    flex-direction: column;
  }
}

@media (max-width: 570px) {
  .flex {
    flex-direction: column;
    margin: 5px;
  }
}
