.wrapper {
  box-shadow: 3px 3px 3px 3px lightgrey;
  padding: 15px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.logo span:nth-child(1) {
  padding-top: 1px;
}

.logo span {
  color: red;
}
